<footer class="footer ">
    <div class="container text-center ">
        <span class="text-muted">Tuxedoed Turtles. © Santiago Castaneda Munoz, Brett Boggs, Emmanuel Durand, Marshall Lowry</span>
    </div>
</footer>