.card {
    margin: 1em;
}

img {
    border-radius: 50%;
    width: 5em;
    box-shadow: 2px 2px 4px #000000;
}

h2 {
    padding-top: .5em;
    text-shadow: .75px .75px 1px #414141;
}

p {
    font-size: 1em;
}